@model Backend_ASP.NET.Models.UserEditViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";  // Sử dụng layout đã tạo cho Admin
}

<div class="wrapper">
    <div class="content-wrapper">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Xóa người dùng</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <p>Bạn có chắc chắn muốn xóa người dùng: <strong>@Model.UserName</strong> không?</p>
                        <form asp-action="DeleteConfirmed" asp-controller="Admin" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            <a href="/Admin/User" class="btn btn-secondary">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
