@model Backend_ASP.NET.Models.SignInModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Log in</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Admin</b>LOGIN</a>
        </div>

        <!-- Hiển thị thông báo lỗi tổng quan -->
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <!-- Form đăng nhập -->
                <form asp-action="Login" asp-controller="Admin" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="PhoneNumber">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Hiển thị lỗi cho trường PhoneNumber -->
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" name="Password" value="@Model.Password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Hiển thị lỗi cho trường Password -->
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
